# Auto detect text files and perform LF normalization
* text=auto

*.sqm text
*.ext text
*.sqf text
*.hpp text
*.txt text

# Ignore adding to archive files
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
